* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
    /* border: 1px solid red; */
}

.container-main {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.bg-img {
    background-image: url('../images/bg-sections.png');
    background-position: center;
    background-size: cover;
}

.padding-y{
    padding: 118px 0px;
}

.svg-line {
    padding-top: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 15%;
    right: -1%;
    display: flex;
    justify-content: center;
}

.navbr {
    height: 80px;
    width: 100%;
}

.nav-bttn {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    background: var(--White, #FFF);
    border: none;
    border: 1px solid transparent;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: unset !important;
}

.nav-bttn:hover {
    border: 1px solid white;
    background: transparent;
    color: #FFF;
}

.span1_rotate {
    transition: all 600ms linear;
    margin-top: 15px;
    transform: rotate(54deg);
}

.span3_rotate {
    transition: all 600ms linear;
    display: none !important;
}

.span2_rotate {
    transition: all 600ms linear;
    margin-top: -7px;
    transform: rotate(-51deg);
}

.shownav {
    left: 0 !important;
}

.span-icon {
    height: 3px !important;
    background: white;
    display: flex;
    margin-bottom: 4px;
    border-radius: 3px;
    z-index: 20 !important;
}

/* hro section */

.hro-btn-bg {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 82px;
    background: var(--White, #FFF);
    border: 1px transparent solid;
}

.hro-btn-bg:hover {
    background: transparent;
    color: white;
    border: 1px white solid;
}

.hro-btn-bg:hover svg path {
    fill: white;
}

.hro-btn-tran {
    margin-left: 30px;
    padding: 12px 32px;
    align-items: center;
    gap: 10px;
    border-radius: 82px;
    background: transparent !important;
    border: solid 1px white;
}

.hro-btn-tran:hover {
    color: black;
    background: white !important;
    border: solid 1px white;
}

.bg-hero {
    position: relative;
    z-index:2;
    background-image: url(../images/hro-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.6);
}

.logo {
    cursor: pointer;
}

.hro-img {
    z-index: 10 !important;
    cursor: pointer;
    transition: 200ms;
}

.hro-img:hover {
    transform: scale(1.02);
}

/* section 3 */
.card-main {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
}

h1 {
    margin-bottom: unset !important;
}

p {
    margin-bottom: unset !important;
}

.card-bttn {
    background: transparent;
    padding: 12px 32px;
    gap: 10px;
    border-radius: 82px;
    border: 1px solid var(--White, #FFF);
}

.card-bttn:hover {
    background: white;
    color: black;
}

/* section 3 */
.box1 {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid transparent;
    z-index: 100 !important;
    max-width: 270px;
}

.main-box {
    margin-top: 5px;
    max-width: 270px !important;
    position: relative;
}

.circle {
    position: absolute;
    top: -8%;
    right: -10%;
    content: "";
    width: 73px;
    height: 74px;
    background: var(--white, #FFF);
    border-radius: 100px;
    opacity: 0;
    pointer-events: none;
}

.box1:hover:after {
    transition: all 500ms;
    opacity: 1;
}

.main-box:hover .circle {
    opacity: 1;
    transition: all 500ms;
}

/* hover effects */
.box1:hover {
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
}
.box1{
    transition: all 700ms;
}

.card-main:hover {
    transition: 200ms ease-in-out;
    cursor: pointer;
    transform: scale(1.04);
}

.para-wdth {
    max-width: 536px !important;
}

.hover-card {
    position: relative;
    cursor: pointer;
}

.hover-card:hover {
    transform: scale(1.2);
    z-index: 1;
    margin-top: -7px;
}

.para-about {
    max-width: 570px;
}

.card-hover-bttn {
    background: transparent;
    padding: 12px 32px;
    gap: 10px;
    border-radius: 82px;
    border: 1px solid var(--Black, #040404);
}

.overflow_hidden {
    overflow: hidden !important;
}

.card-hover-bttn:hover {
    background: black;
    color: white;
}

#preloder {
    z-index: 300 !important;
}

.line {
    max-width: 100%;
    height: 1px !important;
    background: var(--White, #FFF);
}

.bg-rectangle {
    background-image: url(../images/bg-white-rectangle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}

.hover-card {
    transition: 400ms all;
}

.hover-card::after {
    position: absolute;
    content: 'The Tokyo  Tem';
    color: white;
    border-radius: 0px 0px 5px 5px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px -1px 11px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4.5px);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 100% !important;
    font-family: 'Sunflower';
    bottom: 0%;
    left: 0;
    opacity: 0;
    transition: 600ms all !important;
}

.hover-card:hover:after{
    opacity: 1;
}
.fttr-span {
    cursor: pointer;
}

.fttr-span:hover svg rect {
    cursor: pointer;
    fill: gray;
}

.nav-links {
    position: relative;
}
.nav-links:hover{
    -webkit-text-stroke:0.4px;
}

.nav-links::after {
    content: '';
    height: 2px;
    width: 0%;
    background: white;
    position: absolute;
    bottom: -10%;
    left: 0;
}

.nav-links:hover:after {
    width: 100%;
    transition: 300ms all;
}

.slick {
    margin-left: 10px !important;
    margin-right: 20px !important;
}

.Btn-top {
    transform: rotate(-90deg);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 6;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    border: 2px solid transparent;
}

#myBtn:hover {
    background-color: black !important;
    border: 2px solid gray !important;
}

.pding-slider {
    padding: 13px;
}

.circle1 {
    position: absolute;
    top: -8%;
    left: -5%;
    width: 184px;
    height: 184px;
    background: #FFF;
    filter: blur(124px);
}

.circle2 {
    position: absolute;
    right: -1%;
    bottom: -20%;
    width: 184px;
    height: 184px;
    background: #FFF;
    filter: blur(124px);
}
.circle3 {
    position: absolute;
    bottom: -8%;
    width: 184px;
    height: 184px;
    background: #FFF;
    filter: blur(124px);
}
.circle4 {
    position: absolute;
    width: 184px;
    height: 184px;
    background: #FFF;
    filter: blur(124px);
}
.fs-size1{
    font-size: 16px;
    margin-left: 28px;
}
.fs-size{
    font-size: 16px;
}
.fs-size-20{
    font-size: 16px;
}
.img-hover{
    transition: 200ms all;
}
.img-hover:hover{
    cursor: pointer;
    transform: scale(1.03);
}
@media (max-width:992px) {
    .circle1 {
        position: absolute;
        top: -112%;
        left: -25%;
        width: 184px;
        height: 184px;
        background: #FFF;
        filter: blur(124px);
    }
    .fttr-logo{
        height: 50px;
        width: 160px;
    }
    .pding-slider {
        padding: 15px;
    }

    .nav-bttn {
        padding: 6px 16px;
    }

    .img-wdth {
        max-width: 100%;
    }

    ol,
    ul {
        padding-left: unset !important;
    }

    .nav-bar-sm {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #000;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 500ms;
        z-index: 3;
    }

    .click_box {
        height: 10px;
        width: 25px;
        z-index: 10;
    }
}

@media (min-width:320px) {
    .padding-y {
        padding: 73px 0px;
    }
    .logo {
        height: 41px;
        width: 100px;
    }

    .hover-card:hover:after {
        font-size: 10px;
    }

}

@media (min-width:576px) {
    .hover-card:hover:after {
        font-size: 20px;
    }

    .logo {
        height: unset;
        width: unset;
    }

    .about-line::after {
        content: '';
        position: absolute;
        top: -8%;
        left: -15%;
        height: 1px;
        width: 170%;
        background: #FFF;
        transform: rotate(-2deg);
    }

    .about-line::before {
        content: '';
        position: absolute;
        bottom: -8%;
        right: -15%;
        height: 1px;
        width: 170%;
        background: #FFF;
        transform: rotate(-2deg);
    }

    .project-line,
    .servie-line,
    .about-line,
    .upcoming-line,
    .hro-line {
        position: relative;
    }

    .project-line::after {
        content: '';
        position: absolute;
        top: -8%;
        left: -2%;
        height: 1px;
        width: 150%;
        background: black;
        transform: rotate(-2deg);
    }

    .project-line::before {
        content: '';
        position: absolute;
        bottom: -8%;
        right: -2%;
        height: 1px;
        width: 150%;
        background: black;
        transform: rotate(-2deg);
    }

    .servie-line::after {
        content: '';
        position: absolute;
        top: -13%;
        left: 40%;
        height: 1px;
        width: 32%;
        background: white;
        transform: rotate(-2deg);
    }

    .servie-line::before {
        content: '';
        position: absolute;
        bottom: -8%;
        right: 40%;
        height: 1px;
        width: 31%;
        background: white;
        transform: rotate(-2deg);
    }

    .upcoming-line::after {
        content: '';
        position: absolute;
        top: -18%;
        left: 39%;
        height: 1px;
        width: 29%;
        background: white;
        transform: rotate(-2deg);
    }

    .upcoming-line::before {
        content: '';
        position: absolute;
        bottom: -8%;
        right: 38%;
        height: 1px;
        width: 31%;
        background: white;
        transform: rotate(-2deg);
    }

    .hro-line::after {
        content: '';
        position: absolute;
        top: -8%;
        left: 15%;
        height: 1px;
        width: 95%;
        background: white;
        transform: rotate(-2deg);
    }

    .hro-line::before {
        content: '';
        position: absolute;
        bottom: 3%;
        right: 3%;
        height: 1px;
        width: 100%;
        background: white;
        transform: rotate(-2deg);
    }
}
@media (min-width:1024px) {
    .padding-y{
        padding: 118px 0px;
    }
    .fs-size1{
        font-size: 16px;
        margin-left:20px;
    }
    .fs-size{
        font-size: 16px;
    }
    .fs-size-20{
        font-size: 14px;
    }
}
@media (min-width:1200px) {
    .fs-size1{
        font-size: 16px;
        margin-left:28px;
    }
    .fs-size{
        font-size: 16px;
    }
    .fs-size-20{
        font-size: 20px;
    }
    .servie-line::after {
        content: '';
        position: absolute;
        top: 29%;
        left: 40%;
        height: 1px;
        width: 32%;
        background: white;
        transform: rotate(-2deg);
    }
}